* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
}

.right {
    float: right;
}

.section-header {
    width: 100%;
    height: 35px;
    padding: 5px;
    background: #fcf8f2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
/*
.section-header .btn {
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}
*/

.section-main {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
    top: 35px;
    left: 0;
    overflow: hidden;
}

#section-suche {
    position: absolute;
    top: 35px;
    left: -100%;
    width: 90%;
    height: 100%;
    margin-bottom: 35px;
    right: 0;
    background: #fff;
    padding: 10px;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#section-suche.active {
    left: 0;
}

#section-einstellungen {
    position: absolute;
    top: 35px;
    left: 100%;
    width: 90%;
    height: 100%;
    margin-bottom: 35px;
    right: 0%;
    background: #fff;
    padding: 10px;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#section-einstellungen.active {
    left: 10%;
}



.angular-google-map-container { height: 400px; }